.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --main-color: rgb(19, 27, 43);
  --main-bg-color: rgb(255,255,255);
}

h1, p, a {
  color : var(--main-color)
}

h2 {
  margin: 0;
}

body {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 5vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.navbar button {
  height: 100%;
  margin: 0 10px;
}

.session {
  display: flex;
}

button {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  border: none;
  outline: none;
  transition: 0.2s;
  height: 2em;
}

button:hover {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-bg-color);
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-item {
  border: solid 0.5px var(--main-color);
  width: 40%;
  margin: 15px 0;
  /* word-wrap: break-word; */
}

.post-item__title {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.post-item__info, .post-item__text {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

p {
  word-break: break-all;
  text-align: left;
  margin-bottom: 0;
}

.options {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 5px 0;
}

.options button {
  margin: 0 10px;
}

.session-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form form input {
  width: 50%;
  margin: 5px 0;
}

.session-form button{
  margin-top: 5px;
}